* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #6e6e6e;
    font-weight: 600;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: flex-end;
}

main {
    display: flex;
}

.sidebar a:hover {
    color: white;
    filter: brightness(2);
}

.sidebar {
    display: flex;
    width: 260px;
    height: calc(100vh - 100px);
    flex-direction: column;
    background-color: #000000;
}

/* upgrade-row */
.upgrade-row {
    display: flex;
    width: calc(100% - 260px);
    height: 70px;
    background-color: #080b12b7;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}

.upgrade-row button {
    background-color: transparent;
    color: white;
    padding: 8px 28px;
    border: 1px solid white;
    border-radius: 16px;
    margin-right: 32px;
    cursor: pointer;
}

.upgrade-row button:hover {
    transform: scale(110%);
}
/* /upgrade-row */

/* logo */
.logo-box {
    padding: 18px 18px 0;
}

.logo {
    width: 70%;
}
/* /logo */

/* sidebar-nav */
.sidebar-nav {
    padding: 4px 20px;
    overflow-y: auto;
    flex-grow: 1;
}

.sidebar-main-nav {
    margin-bottom: 18px;
}

.sidebar-nav_home a{
    filter: brightness(2);
    color: white;
}

.sidebar-main-nav li {
    margin: 12px 0;
    position: relative;
}

.sidebar-main-nav a, .playlist-nav a {
    display: flex;
    align-items: center;
}

.mark-line {
    background-color: #adff2f;
    display: inline-block;
    width: 4px;
    height: 30px;
    position: absolute;
    left: -20px;
    top: 0;
}

.sidebar-main-nav li a svg {
    height: 30px;
    margin-right: 8px;
    fill: #a3a3a3;
}

.playlist-title {
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}

.playlist-nav li {
    margin: 20px 0;
}

.playlist-nav i {
    background-color: #a3a3a3;
    color: #000000;
    padding: 6px 8px;
    font-size: 26px;
    margin-right: 8px;
}

.sidebar-account {
    padding: 0 20px;
}

.sidebar-account_download-row {
    color: #a3a3a3;
    padding: 10px 0;
    font-weight: 600;
}

.sidebar-account_download-row a {
    display: flex;
    align-items: center;
}

.sidebar-account_download-row svg {
    height: 20px;
    fill: #a3a3a3;
    margin-right: 10px;
}

.sidebar-account_hr {
    border: none;
    height: 1px;
    background-color: #a3a3a3;
}

.sidebar-account_user {
    padding: 10px 0;
}

.sidebar-account_user a {
    color: white;
    display: flex;
    align-items: center;
}

.sidebar-account_user svg {
    height: 30px;
    background-color: #6e6e6e;
    border-radius: 50%;
    margin-right: 14px;
}
/* /sidebar-nav */

/* main album box */
.album-box {
    background-color: #141922;
    width: calc(100% - 260px);
    height: calc(100vh - 100px);
    padding: 70px 24px 20px;
    overflow-y: auto;
}

.album-box_category-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album-box_category {
    color: #a3a3a3;
    margin: 20px 10px 28px;
    font-weight: 400;
}

.in-evidenza {
    color: white;
}

.album-box_category:hover {
    color: white;
}

.album-box_category:first-child {
    position: relative;
}

.mark-line2 {
    background-color: #adff2f;
    display: inline-block;
    width: 40px;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -4px;
    transform: translate(-50%);
}

/* recently played */
.album-box_recently-played h2 {
    color: white;
    margin-bottom: 28px;
    font-size: 24px;
}

.album-box_album-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
}

.album-box_album-row_album {
    position: relative;
    width: 200px;
}

.album-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-img img {
    width: 200px;
}

.album-img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.album-img_overlay_img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    font-size: 60px;
    color: white;
    background-color: #00000085;
}

.album-img_overlay:hover {
    opacity: 1;
}

.album-description {
    margin-top: 14px;
}

.album-title {
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.album-subtitle {
    color: #6e6e6e;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: 6px;
}
/* /recently played */

/* creato per */
.album-box_creato-per h2 {
    color: white;
    font-size: 24px;
}

.album-box_creato-per h3 {
    font-size: 16px;
    color: #a3a3a3;
    font-weight: 600;
    margin: 12px 0 32px;
}
/* /creato per */

/* artisti popolari */
.album-box_artisti-popolari h2 {
    color: white;
    font-size: 24px;
}

.album-box_artisti-popolari h3 {
    font-size: 16px;
    color: #a3a3a3;
    font-weight: 600;
    margin: 12px 0 32px;
}

.album-box_artisti-popolari img {
    border-radius: 50%;
}

.album-box_artisti-popolari .album-img_overlay_img-box {
    border-radius: 50%;
}
/* /artisti popolari */
/* /main album box */

/* footer player */
.footer-player {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    background-color: #282828;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    padding: 0 12px;
}

.footer-player_left, .footer-player_center, .footer-player_right {
    display: flex;
    align-items: center;
}

.footer-img {
    height: 60px;
    margin-right: 14px;
}

.footer-song-name-box {
    margin-right: 28px;
}

.footer-song-artist {
    color: white;
    font-size: 18px;
}

.footer-song-name {
    color: #a3a3a3;
    font-size: 14px;
}

.footer-left-icon-box {
    display: flex;
    color: #a3a3a3;
}

.footer-left-icon-box i {
    margin-right: 8px;
}

.footer-left-icon-box i:hover {
    color: white;
    font-weight: bold;
}

.footer-player_center {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    width: 100%;
}

.footer-player_button-row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer-player_button-row button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    margin: 0 10px;
}

.footer-player_button-row button:hover {
    transform: scale(110%);
}

.fa-circle-play {
    font-size: 36px;
    margin: 0 12px;
}

.footer-player_time-bar-row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
}

.footer-player_time-bar-box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 380px;
    height: 3px;
    border-radius: 4px;
    background-color: #6e6e6e;
    margin-left: 4px;
    cursor: pointer;
    margin: 0 16px;
}

.footer-player-time-bar_indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    border-radius: 4px;
    background-color: white;
    width: 10%;
}

.footer-player-time-bar_indicator-dot-overlay {
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.footer-player-time-bar_indicator-dot {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
}

.footer-player-time-bar_indicator-dot-overlay:hover {
    opacity: 1;
}

.footer-player_right i {
    color: white;
    margin: 0 8px;
    font-size: 14px;
}

.footer-volume-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 80px;
    height: 3px;
    border-radius: 4px;
    background-color: #6e6e6e;
    margin-left: 4px;
    cursor: pointer;
}

.footer-volume-bar_volume-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    border-radius: 4px;
    background-color: white;
    width: 30px;
}

.footer-volume-bar_volume-indicator-dot-overlay {
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.footer-volume-bar_volume-indicator-dot {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
}

.footer-volume-bar_volume-indicator-dot-overlay:hover {
    opacity: 1;
}

/* footer player */