* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #6e6e6e;
    font-weight: 600;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: flex-end;
}

main {
    display: flex;
}

a:hover {
    color: white;
    filter: brightness(2);
}

.sidebar {
    display: flex;
    width: 260px;
    height: calc(100vh - 100px);
    flex-direction: column;
    background-color: #000000;
}

/* upgrade-row */
.upgrade-row {
    display: flex;
    width: calc(100% - 260px);
    height: 70px;
    background-color: #080b12b7;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}

.upgrade-row button {
    background-color: transparent;
    color: white;
    padding: 8px 28px;
    border: 1px solid white;
    border-radius: 16px;
    margin-right: 20px;
    cursor: pointer;
}

.upgrade-row button:hover {
    transform: scale(110%);
}
/* /upgrade-row */

/* logo */
.logo-box {
    padding: 18px 18px 0;
}

.logo {
    width: 70%;
}
/* /logo */

/* sidebar-nav */
.sidebar-nav {
    padding: 4px 20px;
    overflow-y: auto;
    flex-grow: 1;
}

.sidebar-main-nav {
    margin-bottom: 18px;
}

.sidebar-nav_home a{
    filter: brightness(2);
    color: white;
}

.sidebar-main-nav li {
    margin: 12px 0;
    position: relative;
}

.sidebar-main-nav a, .playlist-nav a {
    display: flex;
    align-items: center;
}

.mark-line {
    background-color: #adff2f;
    display: inline-block;
    width: 4px;
    height: 30px;
    position: absolute;
    left: -20px;
    top: 0;
}

.sidebar-main-nav li a svg {
    height: 30px;
    margin-right: 8px;
    fill: #a3a3a3;
}

.playlist-title {
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}

.playlist-nav li {
    margin: 20px 0;
}

.playlist-nav i {
    background-color: #a3a3a3;
    color: #000000;
    padding: 6px 8px;
    font-size: 26px;
    margin-right: 8px;
}

.sidebar-account {
    padding: 0 20px;
}

.sidebar-account_download-row {
    color: #a3a3a3;
    padding: 10px 0;
    font-weight: 600;
}

.sidebar-account_download-row a {
    display: flex;
    align-items: center;
}

.sidebar-account_download-row svg {
    height: 20px;
    fill: #a3a3a3;
    margin-right: 10px;
}

.sidebar-account_hr {
    border: none;
    height: 1px;
    background-color: #a3a3a3;
}

.sidebar-account_user {
    padding: 10px 0;
}

.sidebar-account_user a {
    color: white;
    display: flex;
    align-items: center;
}

.sidebar-account_user svg {
    height: 30px;
    background-color: #6e6e6e;
    border-radius: 50%;
    margin-right: 14px;
}

/* /sidebar-nav */

.album-box {
    background-color: #141922;
    width: calc(100% - 260px);
    height: calc(100vh - 100px);
}

.footer-player {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #282828;
    width: 100%;
    height: 100px;
}